
        <dl>
            <dt>Name</dt>
            <dd><%= model.Name %></dd>
            <dt>Application</dt>
            <dd><a href="#/applications/<%=model.ApplicationId%>"><%=model.ApplicationId%></a></a></dd>
            <dt>Version</dt>
            <dd><%= model.Version %></dd>
            <dt>Start on server startup</dt>
            <dd><%= model.AutoStart %></dd>
            <dt>Actions</dt>
            <dd>
                <div class="btn-group">
                    <button class="btn">Stop</button>
                    <button class="btn">Restart</button>
                </div>
            </dd>
        </dl>
