<style>
    .CodeMirror{
        //padding: 3px!important;
        border: 1px solid #E1E1E8;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        line-height: 20px;
    }

    .CodeMirror-scroll {
        height: 600px;/*auto;*/
        overflow-y: hidden;
        overflow-x: auto;
    }
    .cm-s-default span.cm-string{
        color: #D14;
    }
    #verificationErrors{
        white-space:pre;
    }

    .error{
        background: #F2DEDE!important;
    }
</style>

<div class="page-header">
    <h3><%=model.id%>
        <span class="pull-right">
            <a id="verify" class="btn btn-mini"><i class="icon-align-left"></i> <strong>Format</strong></a>
            <a class="btn btn-mini"><i class=" icon-ok"></i> <strong>Save</strong></a>
            <a class="btn btn-mini btn-danger"><i class="icon-trash"></i> <strong>Delete</strong></a>
        </span>
    </h3>
</div>

<div id="verificationErrors" class="alert alert-error">

</div>

<textarea id="code" class=""><%=model.content%></textarea>
        <br>
