<div class="row">
    <div class="span3 sidebar">
    </div>


    <div class="span9" id="serverArea">

        <dl>
            <dt>Machine Name</dt>
            <dd><%=model.MachineName%>&nbsp;</dd>
            <dt>Mode</dt>
            <dd>Standalone</dd>
            <dt>Application instances</dt>
            <dd class="instances">
            </dd>
     <!--       <dt>Actions</dt>
            <dd>
                <div class="btn-group">
                    <button class="btn">Stop</button>
                    <button class="btn">Restart</button>
                    <button class="btn reload">Reload</button>
                </div>
            </dd>-->
        </dl>
    </div>
</div>