<div class="well" style="padding: 8px 0;">
    <style>
        .appsMenu a.item i{
            vertical-align: top;
            margin-top: 3px;
        }
        .appsMenu a span{
            word-wrap: break-word;
            /*width: 170px;*/
            display: inline-block;
        }
    </style>
    <ul class="nav nav-list appsMenu">
        <li class="nav-header"> <span class="pull-right">
            <a class="btn btn-mini rediscover" type="button" title="Rediscover"><i class="icon-refresh"></i></a>
        </span></li>
        <%
        _.each(model,function(vendor){
        %><li class="nav-header"><%=vendor.name%></li><%
        _.each(vendor.apps,function(app) { %>
        <li data-name="<%= app.Name %>"data-vendor="<%= app.Vendor %>">
            <a href="#applications/<%= app.Vendor %>/<%= app.Name %>" class="item"><i class="icon-cog"></i><span><%= app.Name %></span></a>
        </li>

        <% });

        });%>
    </ul>
</div>