
    <td><%=model.Environment%></td>
    <td><a href="#/instances/<%=model.Name%>"><%=model.Name%></a></td>
    <td><a href="#/applications/<%=model.ApplicationVendor%>/<%=model.ApplicationId%>"><%=model.ApplicationId%></a></td>
    <td><%=model.Version%><%if(!model.Version || model.Version==""){%><%=model.ActualVersion%> (latest) <%}%></td>
    <td><%if(model.User!=''){%><%=model.User%><%}else{%><span style="color:grey">Same as server</span><%}%></td>
    <td><span class="label label-<%if(model.Status=="Starting"){%>warning<%}%><%if(model.Status=="Stopping"){%>inverse<%}%><%if(model.Status=="Started"){%>success<%}%>"><%=model.Status%></span></td>
    <td>
        <div class="btn-group actions pull-right">
        <% if(model.Commands && model.Commands.length>0) {%>
            <div class="btn btn-group commands">
            <a class="btn  btn-mini  dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-wrench"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <% _.each(model.Commands, function(command) { %>  <li><a data-command="<%= command.Name %>" class="command" href="#"><%= command.Name %></a></li> <% }); %>
            </ul>
            </div>
        <%}%>
            <a class="btn btn-mini cmd start" title="Start"><i class="icon-play"></i></a>
            <a class="btn btn-mini cmd stop" title="Stop"><i class="icon-stop"></i></a>
            <a class="btn btn-mini cmd restart" title="Restart"><i class="icon-refresh"></i></a>
            <a class="btn btn-mini cmd btn-danger delete" title="Delete"><i class="icon-trash"></i></a>
        </div>
    </td>
