<div class="page-header">
    <h3><%=model.Name%>
    </h3>
</div>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
            <input type="text" id="inputName" name="Name" placeholder="Name" value="<%=model.Name%>">
        </div>
    </div>    
    <div class="control-group">
        <label class="control-label" for="inputApplication">Application</label>
        <div class="controls">
            <dd>
                <label>
                <a href="#/applications/<%=model.ApplicationVendor%>/<%=model.ApplicationId%>"><%=model.ApplicationVendor%>(c) <%=model.ApplicationId%></a>
            </label>
            </dd>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="Environment">Environment</label>
        <div class="controls">
            <input type="text" id="Environment" name="Environment" placeholder="Environment" value="<%=model.Environment%>">
        </div>
    </div>    

    <div class="control-group">
        <label class="control-label" for="inputVersion">Version</label>
        <div class="controls">
            <select id="inputVersion" placeholder="Version"  name="Version"  value="<%=model.Version%>">
                <option value="">Use latest</option>
            </select>
        </div>
    </div>

<!--    <div class="control-group">
        <label class="control-label" for="inputAutostart">Start on server startup </label>
        <div class="controls">
            <input type="checkbox" id="inputAutostart" placeholder="Autostart">
        </div>
    </div>-->
    <div class="control-group">

        <div class="controls">
            <label class="checkbox">
                Start on server startup <input type="checkbox" id="inputAutostart"  name="Autostart" <% if (model.AutoStart) { %>checked<%}%>>
            </label>
            <div>
            <a id="submit" class="btn"><i class=" icon-ok"></i> <span>Save</span></a>
        </div>
        </div>
    </div>


    <!--    <div>
        <button type="submit" id="submit" class="btn">Update</button>
    </div>-->
</form>
