
    <td style="white-space: nowrap"><%=model.Environment%></td>
    <td class="text-span"><a href="#/instances/<%=model.Name%>"><%=model.Name%></a></td>
    <td style="white-space: nowrap"><a href="#/applications/<%=model.ApplicationVendor%>/<%=model.ApplicationId%>"><%=model.ApplicationId%></a></td>
    <td style="white-space: nowrap"><%=model.ActualVersion%></td>
    <td style="white-space: nowrap"><%=model.Version%><%if(!model.Version || model.Version==""){%>latest<%}%></td>
    <td style="white-space: nowrap"><%if(model.EffectiveUser!=''){%><%=model.EffectiveUser%><%}else{%><span style="color:grey">Same as server</span><%}%></td>
    <td style="white-space: nowrap"><span class="label label-<%if(model.Status=="Starting"){%>warning<%}%><%if(model.Status=="Stopping"){%>inverse<%}%><%if(model.Status=="Started"){%>success<%}%>"><%=model.Status%></span></td>
    <td style="white-space: nowrap">
        <div class="btn-group actions pull-right">
        <% if(model.Commands && model.Commands.length>0) {%>
            <div class="btn btn-group commands">
            <a class="btn  btn-mini  dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-wrench"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <% _.each(model.Commands, function(command) { %>  <li><a data-command="<%= command.Name %>" class="command" href="#"><%= command.Name %></a></li> <% }); %>
            </ul>
            </div>
        <%}%>

        <% if(model.DefaultConfiguration!=null) {%>
            <a class="btn btn-mini" title="Configuration" href="#configurations/<%= model.DefaultConfiguration %>"><i class="icon-cog"></i></a>
        <%}%>

            <a class="btn btn-mini cmd start" title="Start"><i class="icon-play"></i></a>
            <a class="btn btn-mini cmd stop" title="Stop"><i class="icon-stop"></i></a>
            <a class="btn btn-mini cmd restart" title="Restart"><i class="icon-refresh"></i></a>
            <a class="btn btn-mini cmd btn-danger delete" title="Delete"><i class="icon-trash"></i></a>
        </div>
    </td>
