<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Environment" value="dev"/>
    <!--<add key="confSvcUrl" value="http://msa-ibdev1:8282"/>-->
  </appSettings>
  <!--We need it for WebServices behind proxy to be accessed -->
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy autoDetect="True" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>
</configuration>