<div class="row">
    <div class="well well-small span3">
        <input class ="span12" id="nameFilter" placeholder="Filter"/>
    </div>
</div>
<div class="row">
    <table class="table table-condensed table-bordered table-hover instances">
        <thead>
            <tr>
                <th rowspan="2" width="80px" style="white-space: nowrap;text-align: center;vertical-align: middle;">Environment</th>
                <th rowspan="2" style="min-width: 200px;text-align: center;vertical-align: middle;">Name</th>
                <th rowspan="2" style="text-align: center;vertical-align: middle;">Application</th>
                <th colspan="2" style="text-align: center;vertical-align: middle;">Version</th>
                <th rowspan="2" width="150px" style="white-space: nowrap;text-align: center;vertical-align: middle;">User</th>
                <th rowspan="2" width="10px" style="white-space: nowrap;text-align: center;vertical-align: middle;">Status</th>
                <th rowspan="2" width="10px" style="white-space: nowrap;text-align: center;vertical-align: middle;">Start Order</th>
                <th rowspan="2" width="10px" style="white-space: nowrap;text-align: center;vertical-align: middle;"></th>
            </tr>
            <tr>
                <th width="200px" style="white-space: nowrap;text-align: center;vertical-align: middle;">Running</th>
                <th width="200px" style="white-space: nowrap;text-align: center;vertical-align: middle;">Configured</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>